In [30]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

In [31]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Tuktoyaktuk,CA,2022-01-26 23:27:46,69.4541,-133.0374,-5.80,77,20,17.27
1,1,Klaksvik,FO,2022-01-26 23:27:47,62.2266,-6.5890,36.52,90,100,31.41
2,2,Primorsk,UA,2022-01-26 23:27:47,46.7348,36.3443,23.36,91,97,4.61
3,3,Punta Arenas,CL,2022-01-26 23:27:47,-53.1500,-70.9167,53.71,71,40,27.63
4,4,Nikolskoye,RU,2022-01-26 23:27:48,59.7035,30.7861,23.72,89,100,9.46

In [32]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [33]:
# configure gmaps to use your Google API Key
gmaps.configure(api_key = g_key)

In [34]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [35]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure(center = (30.0, 31.0), zoom_level = 1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights = [max(temp, 0) for temp in max_temp],
                                dissipating = False, max_intensity = 300, point_radius = 4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [36]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [37]:
# Heatmap of cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [38]:
# Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [39]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [40]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
7,7,Daru,PG,2022-01-26 23:27:49,-9.0763,143.2092,81.54,85,100,6.85
10,10,Lorengau,PG,2022-01-26 23:24:03,-2.0226,147.2712,83.61,77,100,6.76
15,15,Aloleng,PH,2022-01-26 23:27:51,16.1307,119.7824,77.95,82,95,10.54
16,16,Vaitape,PF,2022-01-26 23:27:51,-16.5167,-151.7500,80.85,76,70,15.48
20,20,Rio Grande,BR,2022-01-26 23:27:52,-32.0350,-52.0986,75.94,92,100,14.58
23,23,Atuona,PF,2022-01-26 23:27:53,-9.8000,-139.0333,79.11,77,13,18.92
31,31,Hithadhoo,MV,2022-01-26 23:27:56,-0.6000,73.0833,81.37,74,100,21.70
34,34,Rikitea,PF,2022-01-26 23:27:57,-23.1203,-134.9692,78.44,77,22,17.90
35,35,Butaritari,KI,2022-01-26 23:23:40,3.0707,172.7902,81.79,79,59,14.05
37,37,Vaini,TO,2022-01-26 23:27:57,-21.2000,-175.2000,87.96,74,20,6.91

In [41]:
preferred_cities_df.count()

City_ID       149
City          149
Country       148
Date          149
Lat           149
Lng           149
Max Temp      149
Humidity      149
Cloudiness    149
Wind Speed    149
dtype: int64

In [42]:
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
7         Daru      PG     81.54  -9.0763  143.2092
10    Lorengau      PG     83.61  -2.0226  147.2712
15     Aloleng      PH     77.95  16.1307  119.7824
16     Vaitape      PF     80.85 -16.5167 -151.7500
20  Rio Grande      BR     75.94 -32.0350  -52.0986
23      Atuona      PF     79.11  -9.8000 -139.0333
31   Hithadhoo      MV     81.37  -0.6000   73.0833
34     Rikitea      PF     78.44 -23.1203 -134.9692
35  Butaritari      KI     81.79   3.0707  172.7902
37       Vaini      TO     87.96 -21.2000 -175.2000

In [49]:
# set parameters to search for a hotel
params = {"radius": 5000, "type": "lodging", "key": g_key}

In [50]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [51]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
7,Daru,PG,81.54,-9.0763,143.2092,Daru Lodge
10,Lorengau,PG,83.61,-2.0226,147.2712,Lorengau Harbourside Hotel
15,Aloleng,PH,77.95,16.1307,119.7824,Steve Walden and Emma Sison-Walden Residence
16,Vaitape,PF,80.85,-16.5167,-151.7500,Conrad Bora Bora Nui
20,Rio Grande,BR,75.94,-32.0350,-52.0986,Hotel Atlântico Rio Grande
23,Atuona,PF,79.11,-9.8000,-139.0333,Villa Enata
31,Hithadhoo,MV,81.37,-0.6000,73.0833,Scoop Guest House
34,Rikitea,PF,78.44,-23.1203,-134.9692,People ThankYou
35,Butaritari,KI,81.79,3.0707,172.7902,Isles Sunset Lodge
37,Vaini,TO,87.96,-21.2000,-175.2000,Keleti Beach Resort

In [53]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [54]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [55]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [56]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))